.main {
  margin: 20px;
}

button {
  height:40px;
  background-color:gainsboro ;
}

.header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;

}

.info {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

#animalName {
  margin-left: 40px;
}

.details {
  display: flex;
  flex-direction: column;

}

li {
  margin: 10px;
}

